@font-face {
  font-family: "Blanka";
  src: url("fonts/Blanka.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Blanka", sans-serif; */
}
body {
  /* background-color: #000;
  color: #fff; */
  font-family: "Blanka", sans-serif;
}

#welcome {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
}

#welcome h1 {
  font-size: 3em;
  color: #fff;
}

#welcome p {
  font-size: 1.5em;
  color: #fff;
  margin-top: 20px;
}
#skipintro {
  position: absolute;
  top: 10%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.2em;
  z-index: 999;
  /* visibility: hidden; */
}
.fade-in-out {
  animation: fadeInOut 2s ease-in-out infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#start {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 999;
}

#game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /*background-color: #f2f2f2;*/
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
  visibility: hidden;
}

.grid {
  position: absolute;
  width: 100%;
  height: 100%;
}

#game-screen {
  position: relative;
  /* align-items: center; */
  width: 400px;
  height: 500px;
  background-color: #333;
  border: 2px solid #000;
}

/* #ball {
  position: absolute;
  top: 240px;
  left: 190px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #f00;
} */

#ball {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
  top: 150px;
  left: 280px;
}

#paddle {
  position: absolute;
  bottom: 10px;
  left: 170px;
  width: 60px;
  height: 10px;
  background-color: #fff;
}

.brick {
  position: absolute;
  width: 40px;
  height: 20px;
  background-color: #00f;
  border: 1px solid #fff;
  /* add more styles here */
}

.powerup {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(18, 171, 177);
  border: 1px solid #fff;
  /* add more styles here */
}

#game-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 400px;
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #000;
}

#pause-btn {
  font-size: 16px;
  padding: 10px;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

#pause-menu {
  display: none;
  position: absolute;
  top: 180px;
  left: 80px;
  width: 240px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #000;
  text-align: center;
}

#pause-menu h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

#pause-menu button {
  font-size: 16px;
  padding: 10px;
  margin: 10px;
  background-color: #fff;
  border: 2px solid #000;
  cursor: pointer;
}

/* button */
.button {
  display: inline-block;
  padding: 50px 20px;
  /* font-size: 20px; */
}
.btn-101,
.btn-101 *,
.btn-101 :after,
.btn-101 :before,
.btn-101:after,
.btn-101:before {
  border: 0 solid;
  box-sizing: border-box;
}
.btn-101 {
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: button;
  background-color: #000;
  background-image: none;
  color: #fff;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 100%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  -webkit-mask-image: -webkit-radial-gradient(#000, #fff);
  padding: 0;
  text-transform: uppercase;
}
.btn-101:disabled {
  cursor: default;
}
.btn-101:-moz-focusring {
  outline: auto;
}
.btn-101 svg {
  vertical-align: middle;
}
.btn-101 [hidden] {
  display: none;
}
.btn-101 {
  --thickness: 0.3rem;
  --roundness: 1.2rem;
  --color: #eff6ff;
  --opacity: 0.6;
  -webkit-backdrop-filter: blur(100px);
  backdrop-filter: blur(100px);
  background: none;
  background: hsla(0, 0%, 100%, 0.2);
  border: none;
  border-radius: var(--roundness);
  color: var(--color);
  cursor: pointer;
  display: block;
  /* font-family: Poppins, "sans-serif"; */
  font-size: 1rem;
  font-weight: 500;
  padding: 0.8rem 3rem;
  position: relative;
}
.btn-101:hover {
  background: hsla(0, 0%, 100%, 0.3);
  filter: brightness(1.2);
}
.btn-101:active {
  --opacity: 0;
  background: hsla(0, 0%, 100%, 0.1);
}
.btn-101 svg {
  border-radius: var(--roundness);
  display: block;
  filter: url(#glow);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.btn-101 rect {
  fill: none;
  stroke: var(--color);
  stroke-width: var(--thickness);
  rx: var(--roundness);
  stroke-linejoin: round;
  stroke-dasharray: 185%;
  stroke-dashoffset: 80;
  -webkit-animation: snake 2s linear infinite;
  animation: snake 2s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  height: 100%;
  opacity: 0;
  transition: opacity 0.2s;
  width: 100%;
}
.btn-101:hover rect {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: var(--opacity);
}
@-webkit-keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}
@keyframes snake {
  to {
    stroke-dashoffset: 370%;
  }
}

/* Animation properties */
.star {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation: star 10s ease-out;
}

.wars {
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation: wars 10s ease-out;
}

.byline span {
  animation: spin-letters 10s linear infinite;
}
.byline {
  animation: move-byline 10s linear infinite;
}
h2 {
  text-decoration-color: #fff;
  color: #fff;
  text-decoration: wavy;
}
h1 {
  text-decoration-color: #fff;
  color: #fff;
}

/* Keyframes */
@keyframes star {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(-0.75em);
  }
  20% {
    opacity: 1;
  }
  89% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
    display: none;
  }
}

@keyframes wars {
  0% {
    opacity: 0;
    transform: scale(1.5) translateY(0.5em);
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: translateZ(-1000em);
  }
}
/* 
@keyframes spin-letters {
  0%,
  10% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  30% {
    opacity: 1;
  }
  70%,
  86% {
    transform: rotateY(0);
    opacity: 1;
  }
  95%,
  100% {
    opacity: 0;
  }
} */

/* @keyframes move-byline {
  0% {
    transform: translateZ(5em);
  }
  100% {
    transform: translateZ(0);
  }
} */
#container-cover {
  overflow: hidden;
}
body {
  max-height: 100vh;
  overflow: hidden;
}

/* Make the 3D work on the container */
.starwars-demo {
  perspective: 800px;
  transform-style: preserve3d;
}

/* General styles and layout */
body {
  background: #000 url(//cssanimation.rocks/demo/starwars/images/bg.jpg);
}

.starwars-demo {
  height: 17em;
  left: 50%;
  position: absolute;
  top: 53%;
  transform: translate(-50%, -50%);
  width: 34em;
}

.byline span {
  display: inline-block;
}

img {
  width: 100%;
}

.star,
.wars,
.byline {
  position: absolute;
}

.star {
  top: -0.75em;
}

.wars {
  bottom: -0.5em;
}

.byline {
  color: #fff;
  font-family: "ITC Serif Gothic", Lato;
  font-size: 2.25em;
  left: -2em;
  letter-spacing: 0.4em;
  right: -2em;
  text-align: center;
  text-transform: uppercase;
  top: 29%;
}

/*** Media queries for adjusting to different screen sizes ***/

@media only screen and (max-width: 600px) {
  .starwars-demo {
    font-size: 10px;
  }
}

@media only screen and (max-width: 480px) {
  .starwars-demo {
    font-size: 7px;
  }
}

#scroll-container {
  border: 3px solid black;
  border-radius: 5px;
  overflow: hidden;
  font-size: medium;
  /* display: none; */
}
#scroll-text {
  /* animation properties */
  -moz-transform: translateY(100%);
  -webkit-transform: translateY(100%);
  transform: translateY(100%);

  /* -moz-animation: scroll 70s linear;
  -webkit-animation: scroll 70s linear;
  animation: scroll 70s linear; */
}
.scroll-animation {
  animation: scroll 90s linear;
  -moz-animation: scroll 90s linear;
  -webkit-animation: scroll 90s linear;
}

/* for Firefox */
@-moz-keyframes scroll {
  from {
    -moz-transform: translateY(40%);
  }
  to {
    -moz-transform: translateY(-100%);
  }
}

/* for Chrome */
@-webkit-keyframes scroll {
  from {
    -webkit-transform: translateY(40%);
  }
  to {
    -webkit-transform: translateY(-100%);
  }
}

@keyframes scroll {
  from {
    -moz-transform: translateY(40%);
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
  }
  to {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
}
